@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
 font-family: 'Roboto', sans-serif;
}

.sprites__container{
  display: flex;
  max-width: 300px;
  overflow: scroll;
  justify-content: space-between;
  padding-left: 2rem;
}
.card__text_info{
  padding-left: 2rem;
}
.infocard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25vw;
  height: 82vh;
  margin: 1rem;
  margin-top: 5rem;
}
.card__text{
  text-align: center;
}
.card__image{
  padding-top: 1rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
a{
  text-decoration: none;
  color: black;
  width: fit-content;
}


@media only screen and (max-width: 600px) {
  .infocard {
    width: fit-content;
  }
}